app-game-board {
    display: flex;
    justify-content: center;
}

button {
    margin-bottom: 5px;
}

.content {
    margin: 8px;
}

.header {
    background-color: lightblue;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 0px;

     h1 {
         color: white;
     }
}