app-game-board, h2 {
    display: flex;
    justify-content: center;
}

button {
    margin-bottom: 5px;
    background-color: lightblue;
}

input {
    padding: 7px;
}

.content {
    margin-left: 20vw;
}

.header {
    background-color: lightblue;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 0px;

     h1 {
         color: white;
         padding-left: 4px;
     }
}