<div class="header">
    <h1>
        TicTacToe
    </h1>
</div>

<div class="wrapper">
    <div>
        <div class="content">
            <p><strong>Game ID: </strong>{{game.gameId | async}}</p>
            <button mat-button (click)="joinGame()">Join</button>&nbsp;
            <input [(ngModel)]="gameIdInput" (keyup.enter)="joinGame()" />
            <br>

            <button mat-button (click)="createGame()">Create and Join</button>&nbsp;
            <button mat-button color="primary" (click)="game.leaveGame()"
                *ngIf="(game.gameId | async) !== ''">Disconnect</button>
        </div>

        <h2 *ngIf="(game.gameId | async) !== ''">
            {{(statusMessage | async)}}
        </h2>

        <app-game-board [rows]="(game.game | async).rows" (move)="move($event)" *ngIf="(game.gameId | async) !== ''">
        </app-game-board>
    </div>

    <div>
        <app-leaderboard></app-leaderboard>
    </div>
</div>