<p>game works!</p>

<p><strong>In game: </strong>{{game.inGame | async}}</p>
<p><strong>Game ID: </strong>{{game.gameId | async}}</p>
<div>
    <button (click)="joinGame()">Join</button>&nbsp;
    <input [(ngModel)]="gameIdInput" />
    <br>

    <button (click)="createGame()">Create and Join</button>
</div>

<div>
    <button (click)="game.makeMove(0, 0)">{{(game.game | async).Rows[0][0]}}</button>
    <button (click)="game.makeMove(0, 1)">{{(game.game | async).Rows[0][1]}}</button>
    <button (click)="game.makeMove(0, 2)">{{(game.game | async).Rows[0][2]}}</button>
    <br/>
    <button (click)="game.makeMove(1, 0)">{{(game.game | async).Rows[1][0]}}</button>
    <button (click)="game.makeMove(1, 1)">{{(game.game | async).Rows[1][1]}}</button>
    <button (click)="game.makeMove(1, 2)">{{(game.game | async).Rows[1][2]}}</button>
    <br/>
    <button (click)="game.makeMove(2, 0)">{{(game.game | async).Rows[2][0]}}</button>
    <button (click)="game.makeMove(2, 1)">{{(game.game | async).Rows[2][1]}}</button>
    <button (click)="game.makeMove(2, 2)">{{(game.game | async).Rows[2][2]}}</button>
</div>