app-game-board, h2 {
    // display: flex;
    // justify-content: center;
    margin-left: 10vw;
    height: 0px;
}

button {
    margin-bottom: 5px;
    background-color: lightblue;
}

input {
    padding: 7px;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content {
    margin-left: 10vw;
}

.header {
    background-color: lightblue;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 0px;

     h1 {
         color: white;
         padding-left: 4px;
     }
}