.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);

    button {
        font-size: xx-large;
        background-color: #ddd;
        border-radius: 0px;
        margin: 1px;
    }
}
