<p>game-board works!</p>

<div>
    <button (click)="move.emit([0, 0])">{{rows[0][0] | noughtCross}}</button>
    <button (click)="move.emit([0, 1])">{{rows[0][1] | noughtCross}}</button>
    <button (click)="move.emit([0, 2])">{{rows[0][2] | noughtCross}}</button>
    <br />
    <button (click)="move.emit([1, 0])">{{rows[1][0] | noughtCross}}</button>
    <button (click)="move.emit([1, 1])">{{rows[1][1] | noughtCross}}</button>
    <button (click)="move.emit([1, 2])">{{rows[1][2] | noughtCross}}</button>
    <br />
    <button (click)="move.emit([2, 0])">{{rows[2][0] | noughtCross}}</button>
    <button (click)="move.emit([2, 1])">{{rows[2][1] | noughtCross}}</button>
    <button (click)="move.emit([2, 2])">{{rows[2][2] | noughtCross}}</button>
</div>